:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --secondary-color: #212121;
  --third-color: #757575;
}
body {
  background-color: #e5e5e5;
  font-family: var(--main-font);
}
/*======= Header ======*/
.logo,
.addresses.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.span {
  color: #212121;
}
.span-span {
  color: #ffffff;
}
/*.address{
padding: 60px;
height: 30px;
background-color: #2F303A;
}*/
.navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.logo:hover,
.logo:focus,
.navigation-link:hover,
.navigation-link:focus,
.address-email:hover,
.address-email:focus,
.adress-phone-number:hover,
.adress-phone-number:focus {
  color: var(--main-color);
}
.button {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
}
.button:hover {
  cursor: pointer;
}

/*.id-buttons .id-btn:hover {
  cursor: pointer;*/
.id-buttons .id-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 0.03em;
  /*color: #ffffff;*/
}
.id-buttons .id-btn:hover {
  cursor: pointer;
  color: var(--main-color);
}

.addresses,
.address-email,
.adress-phone-number {
  font-size: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: #757575;
}
.bottom-addresses,
.bottom-address-email:hover,
.bottom-phone-number:hover {
  color: var(--main-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
}
.bottom-addresses,
.bottom-address-email,
.bottom-phone-number {
  background-color: #2f303a;
  color: #ffffff;
}
.main-header {
  background-color: #2f303a;
  font-family: var(--main-font);
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
}
/*======= Header ======*/

/*======= Body   ======*/
.second-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 167;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  /*color:#212121;*/
}
.third-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  /* #212121;*/
}
.third-header-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: var(--third-color);
  /* #757575;*/
}
.thi-rd-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  /* #212121;*/
}
.thi-rd-header-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: var(--third-color);
  /* #757575;*/
}
.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  /* #212121;*/
}
.job-position {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 188;
  letter-spacing: 0.03em;
  color: var(--third-color);
  /* #757575;*/
}

/*======= Body   ======*/
